<!DOCTYPE html>
<html>

<head>
  <style>

  </style>
</head>

<body>
  
  <script>alert('Hello thank for coming to the playground');</script>

<button>Hello</button>

<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="You should really click the button">
Wow a button? 
</button> 

</body>

</html>
